@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
     font-family: 'Montserrat', sans-serif !important;
}
.sup-footer{
     background-color: #0091B1 !important;
     margin-top: 10%;
}
h6{
     color: #fff;
     font-weight: bolder;
}
.sup-footer p{
     color: #fff;
}
.sup-footer ul li a {
     color: #fff !important;
     
}
.sup-footer ul li a:hover {
     color: #E5EA00 !important;
}
.sup-footer input{
     border: 1px solid #FA8316;
     border-radius: 4px;
     height: 50px !important;
     width: 70%;
}
.newsletter-btn {
     background-color: #E5EA00;
     color: #fff;
     font-weight: bolder;
     border-radius: 4px;
     width: 6%;
     position: absolute;
     margin-left: -6%;   
}
.footer-logo{
     width: 250px;
     height: auto;
}

.sub-footer {
     background-color: #E5EA00;
}
.sub-footer .logo-rs {
     width: 50px;
     margin: 0 auto !important;
}



/* ****************** */

@media only screen and (max-width: 800px) {

     .sup-footer{
          padding: 0;
          text-align: center;    
     }
     .sup-footer .info{
        margin-bottom: 7% !important;  
     }
     .sup-footer .content{
          display: flex !important;
          flex-direction: column-reverse !important; 
          justify-content: space-between;
          align-items: center;
          width: 100%;
     }
     .sup-footer .content h6{
          font-size: 20px !important;
          margin-top: 8% !important;
     }
     .sup-footer p{
          font-size: 18px !important;
     }

     .sup-footer input{
          width: 300px;
     }

     .newsletter-btn {
          background-color: #E5EA00;
          color: #fff;
          font-weight: bolder;
          border-radius: 4px;
          width: 20%;
          position: absolute;
          margin-left: -15%;   
     }

     .sub-footer {
          width: 100%;
          display: flex;
          flex-direction: row;
     }

     .sub-footer .logo-rs{
          display: flex !important;
          flex-direction: row !important;
          justify-content: space-between !important;
          align-items: flex-start !important;
          width: 100px !important;
     }
     .sub-footer .logo-rs a img{
          width: 100px !important;
     }
}